<h1>Destiny 2 Powerful Engram Reset Calendar</h1>

<% if @ending_tomorrow.where(title: "Weekly Reset").count != 0 %>
  <div class="weekly_alert">Weekly engrams reset tomorrow, hurry up Guardian.</div>
<% end %>

<br>

<% @ending_tomorrow.each do |event| %>
  <% unless event.title == "Weekly Reset" %>
    <div class="daily_alert">The <%= event.title %> is resetting tomorrow, better finish fast.</div>
  <% end %>
<% end %>

<div id="calendar"></div>
