// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body
  background: url(background.jpg)
  background-repeat: no-repeat
  background-size: cover
  background-attachment: fixed

h1
  background: #010302
  color: #9e9e9e
  padding: 15px
  border-radius: 10px

.weekly_alert
  background: #3a87ad
  color: #FFFFFF
  padding: 7px
  border-radius: 15px
  text-align: center

.daily_alert
  background: #9e9e9e
  color: #FFFFFF
  padding: 7px
  border-radius: 15px
  text-align: center

.weekly_explain
  background: #3a87ad
  color: #FFFFFF
  padding: 7px
  border-radius: 15px
  text-align: left

.fc
  color: #FFFFFF

.fc-past
  color: #4e4e4e

.fc-today
  color: #ffff88

.fc-not-start
  background: #9e9e9e